<h1>New Order</h1>

<div class="depot_form">
  <!-- <form>
    <fieldset> -->
      <legend>Please Enter Your Details</legend>
      <%= render 'form', order: @order %>
    <!-- </fieldset>
  </form> -->
</div>


<%= link_to 'Back', orders_path %>

<!-- <div class="depot_form">
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form', order: @order %>
  </fieldset>
</div> -->
