<h1>New Order</h1>

<div class="depot_form">
  <legend><%= t('.legend') %></legend>
  <fieldset>
    <%= render 'form', order: @order %>
  </fieldset>
</div>

</br>
<%= link_to 'Back', orders_path %>
